*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

#timer{
    display: grid;
    height: 80%;
    width: min-content;

    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto 30%;
    grid-template-areas: 
        "timer timer timer"
        "start return gear";
}

#timer span{
    grid-area: timer;
    display: flex;
    color: #fff;

    font-size: 40vh;
    text-decoration: none;
}

#timer span *{
    font-style: normal;
    font-family: "Geom", sans-serif;
    font-weight: bolder;
    font-style: normal;
    cursor:default;
}

button{
    background-color: transparent;
    border: none;
}

button svg{
    height: 5rem;
    width: 5rem;
    cursor: pointer;
}

button svg:hover{
    fill: #4d4d4d;
}

#settings svg:hover path{
    fill: #4d4d4d;
}